<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo-image' %>
        <span class="logo-text">Translator</span>
      </div>
      <div class="col-md-3">
        <% if user_logged_in? %>
          <div class="row">
            <div class="col-md-6">
              <%= render partial: 'google_logout' %>
            </div>
            <div id="user-google-name" class="col-md-3">
              <%= current_user.google_name %>
            </div>
            <div class="col-md-3">
              <%= image_tag "#{current_user.google_image}", id: 'user-google-image' %>
            </div>
          </div>
        <% else %>
          <%= render partial: 'google_login' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid app-body">  <!-- TODO Rename app-body -->
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <select id="input-text-language" class="btn btn-default">
            <option value="English" selected>English</option>
            <option value="Russian">Russian</option>
            <option value="Ukrainian">Ukrainian</option>
          </select>

          <%= render partial: 'detect_language' %>

          <button id="swap-language" class="btn btn-default">&#8644;</button>
        </div>
        <textarea id="input-text" class="panel-body form-control" rows="5"></textarea>
        <div class="panel-footer">
          <button id="speak-input-text" class="btn btn-default btn-xs">&#128266;</button>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <select id="output-text-language" class="btn btn-default">
            <option value="English">English</option>
            <option value="Russian">Russian</option>
            <option value="Ukrainian" selected>Ukrainian</option>
          </select>

          <button id="text-translator" type="button" class="btn btn-info">Translate</button>
        </div>
        <div id="output-text" class="panel-body form-control"></div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <p>Footer Text</p>
  </div>
</footer>
