<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag 'abstract_logo.svg', class: 'logo-image' %>
        <span class="logo-text">Translator</span>
      </div>
      <div class="col-md-3">
        <% if user_logged_in? %>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <%= render partial: 'google_logout' %>
            </div>
            <div id="user-google-name" class="col-md-3 col-xs-3">
              <%= current_user.google_name %>
            </div>
            <div class="col-md-3 col-xs-3">
              <%= image_tag "#{current_user.google_image}", id: 'user-google-image' %>
            </div>
          </div>
        <% else %>
          <%= render partial: 'google_login' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid app-body">  <!-- TODO Rename app-body -->
  <div class="row">
    <div id="input-text-container" class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <select id="input-text-language" class="btn btn-default">
            <option value="English" selected>English</option>
            <option value="Russian">Russian</option>
            <option value="Ukrainian">Ukrainian</option>
          </select>
          <%= render partial: 'detect_language' %>
          <button id="swap-language" class="btn btn-default">&#8644;</button>
        </div>
        <textarea id="input-text" class="panel-body form-control" rows="5"></textarea>
        <div class="panel-footer">
          <button id="speak-input-text" class="btn btn-default btn-xs" title="Speak text">
            &#128266;
          </button>
        </div>
      </div>
    </div>

    <div id="output-text-container" class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <select id="output-text-language" class="btn btn-default">
            <option value="English">English</option>
            <option value="Russian">Russian</option>
            <option value="Ukrainian" selected>Ukrainian</option>
          </select>
          <button id="translate-text" type="button" class="btn btn-info">Translate</button>
          <% if user_logged_in? %>
            <button id="toogle-phrasebook-container"
                    class="btn btn-default"
                    title="Toogle phrasebook">
              &#10026;
            </button>
          <% else %>
            <%= link_to log_in_to_google_path,
                        id: 'show-phrasebook',
                        class: 'btn btn-default',
                        title: 'Log in to review your phrasebook' do %>
              &#10026;
            <% end %>
          <% end %>
        </div>
        <div id="output-text" class="panel-body form-control"></div>
        <div class="panel-footer">
          <button id="add-entry-to-phrasebook-entries" class="btn btn-default btn-xs" title="Add to phrasebook">
            &#9734;
          </button>
          <button id="speak-output-text" class="btn btn-default btn-xs" title="Speak text">
            &#128266;
          </button>
          <%= render partial: 'copy_output_text' %>
        </div>
      </div>
    </div>

    <div id="phrasebook-container" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="input-group">
            <input id="search-query" type="text" class="form-control" placeholder="Search in phrasebook">
            <div class="input-group-btn">
              <button id="search-phrasebook-entries" class="btn btn-default">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="phrasebook" class="panel-body form-control">
          <table class="table">
            <tbody id="phrasebook-entries" data-limit="3" data-offset="0"></tbody>
          </table>
        </div>
        <div class="panel-footer">
          <button class="btn btn-default btn-xs invisible">+</button> <!-- TODO Remove terporary hack -->
          <button id="load-phrasebook-entries" class="btn btn-default btn-xs" title="Load phrasebook entries">
            +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <i class="fa fa-copyright" aria-hidden="true"></i> 2017 - Translator
  </div>
</footer>
